/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .lab4-filestructure {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    border: solid 3px #5163EB;
    background-color: #87C9F0; 
  }

  .js-results {
    padding: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    border: solid 3px #5163EB;
    background-color: #87C9F0; 
  }

  .lab4-task1 {
      padding: 10px;
      margin-bottom: 10px;
      max-width: 350px;
      border: solid 3px #5163EB;
      background-color: #87C9F0;
  }

  