/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #B0A2AD;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2,h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}

#links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  background-color: #E9BBCB;
}


a {
  display: block;
  padding: 8px;
  background-color: #D0B9BA;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 1px #B09998;
  background-color: #837085;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #B09998;
  background-color: #E9DCEB;
}

#challenges {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #B09998;
  background-color: #E9DCEB;
}

#results {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #B09998;
  background-color: #E9DCEB;
}

#special {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 5px #F0BAC0;
  background-color: #D0B9BA;
  font-weight: bold;
}
