
.special {
    font-weight: bold;
    background-color: #A58C9C;
    border: dashed, #FAD99B;
    color: #A4FA9B;
    font-weight: bold;
  }



#toggle {
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border: dashed, 5px, #FAD99B;
    background-color: #9BC3FA;
    color: #53647A;
}