h1 {
    color: pink;
    font-size: 250%
}

#links {
  padding: 10px;
  margin-bottom: 5px;
  border: 15px #F0BAC0;
  background-color: #d6bcda;
  font-size: 25px;

}

p {
  font-family: "comic sans";
  text-indent: 20px;
  margin-left: 10px;  
}

#content {
    background-color: #B5F09D;
    width: 500px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    outline: dotted 15px #F0BAC0;
    font-size: 40px;

}

